.container {
    width: 100%;
    margin: 0 auto;
    font-family: $myRaleway;
    scroll-behavior: smooth;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        padding: 15px 95px;
        .burgerMenu {
            display: none;
            .fa-bars-staggered {
                // @media (max-width: 768px) {
                //     color: $headerColor;
                //     display: block;
                //     font-size: 30px;
                //     position: absolute;
                //     top: 40px;
                //     right: 30px;
                //     cursor: pointer;
                // }
            }
        }
        nav {
            .header-ul {
                display: flex;

                .header-li {
                    padding: 30px 45px;
                    font-size: 15px;
                    color: #303134;
                }
            }
        }
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-image: linear-gradient(#08aeea, #2af598);
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        overflow: hidden;
    }
    .sections {
        .homePage {
            background-image: linear-gradient(#2af598, #08aeea);
            width: 100%;
            // height: 570px;

            .homePageWrapper {
                // height: 570px;
                background-image: url(../images/bg.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: fill;
                opacity: 80%;
                // height: 500px;

                .priceDiv {
                    margin: 0 auto;
                    position: relative;
                    padding: 115px 580px;
                    // #grad1 {
                    // }
                    .priceDiv1 {
                        position: absolute;
                        margin-top: -60px;
                        margin-left: 60px;
                        .personPrice {
                            font-size: 21px;
                            color: #006cd1;
                            font-weight: bold;
                        }
                    }
                }
                .discover {
                    padding-left: 150px;
                    display: flex;
                    align-items: center;
                    .header-arrow {
                        width: 33px;
                        height: 33px;
                        background-color: #fff;
                        cursor: pointer;
                        .fa-solid {
                            margin: 9px;
                        }
                    }
                    .homePageText {
                        h1 {
                            font-size: 78px;
                            color: #fff;
                            padding-right: 228px;
                            padding-bottom: 40px;
                            padding-left: 288px;
                        }
                        .homePage-p {
                            font-size: 18px;
                            color: #fff;
                            padding-bottom: 209px;
                            padding-left: 415px;
                        }
                    }
                }
            }
        }
        .services {
            padding-left: 97px;
            margin-top: 74px;
            display: flex;

            .hotServices {
                .discover {
                    padding-bottom: 12px;
                }
                .heading1 {
                    font-size: 25px;
                    color: $headerColor;
                }
                .hotServiceText {
                    padding-top: 40px;
                    font-size: 15px;
                    color: $textColor;
                    max-width: 60%;
                }
            }
            .serviceCards {
                display: flex;
                flex-wrap: wrap;
                padding-left: 60px;
                .flightBooking,
                .hotelBooking,
                .tripPlanner,
                .cruiseTour,
                .fireCamp,
                .corporateHolidays {
                    padding-right: 30px;
                    padding-bottom: 20px;
                    .card-h2 {
                        @include serviceCardsHeader;
                    }
                    .card-p {
                        @include serviceCardsText;
                    }
                }
            }
        }
        .videoTour {
            background-image: url(../images/bg5.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: scroll;
            margin-top: 50px;
            height: 500px;
            .videoTourDiscover {
                display: flex;
                flex-direction: column;
                align-items: center;

                .videoTour-p {
                    margin-top: 65px;
                    font-size: 15px;
                    color: #fff;
                    padding-bottom: 20px;
                }
                .videoTour-h2 {
                    font-size: 25px;
                    color: #fff;
                }
            }
            .watchVideo {
                padding-top: 30px;
                position: relative;
                text-align: center;

                #video {
                    position: absolute;

                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: none;
                    color: white;
                    font-size: 20px;
                    background-image: linear-gradient(#2af598, #08aeea);
                    cursor: pointer;
                }
            }
        }
        .statCardsWrapper {
            margin-top: 107px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .statCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                .card-p1 {
                    font-size: 32px;
                    font-weight: bold;
                    padding-top: 20px;
                    padding-bottom: 9px;
                    color: $headerColor;
                    font-family: $myLato;
                }
                .card-p2 {
                    font-size: 16px;
                    color: $textColor;
                }
            }
        }
        .splitLine {
            max-width: 100%;
            height: 2px;
            background-color: #ebebeb;
            margin-top: 68px;
        }
        .offer {
            margin-top: 64px;
            .tourOffer {
                display: flex;
                flex-direction: column;
                align-items: center;
                .offerHeader {
                    font-size: 15px;
                    color: $textColor;
                    padding-bottom: 14px;
                }
                .tourPackage {
                    font-size: 25px;
                    color: $headerColor;
                    padding-bottom: 9px;
                }
            }
            .offerCards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 67px;

                .hotOffer {
                    transition: all 1s ease;
                    box-shadow: 3px 5px 15px 6px #888888;

                    .badge1 {
                        @include badge1;
                    }
                    .badge2 {
                        @include badge2;
                    }
                    .offerCardText {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .s4-p1 {
                            font-size: 14px;
                            margin-top: 17px;
                            padding-bottom: 10px;
                        }
                        .s4-h2 {
                            font-size: 19px;
                            color: #4b54fa;
                            font-weight: bold;
                            padding-bottom: 5px;
                        }
                    }
                    &:hover {
                        transform: scale(1.05);
                        transition: all 1s ease;
                        cursor: pointer;
                    }
                }
            }
        }
        .sales {
            background-image: url(../images/bg3.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            margin-top: 71px;

            .travelSale {
                margin-top: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .s5-h2 {
                    padding-top: 70px;
                    font-size: 34px;
                    color: #fff;
                }
                .s5-p {
                    padding-top: 19px;
                    font-size: 18px;
                    color: #fff;
                }
            }
            .subscription {
                padding-top: 60px;
                padding-bottom: 82px;
                padding-left: 394px;
                display: flex;

                #email1 {
                    width: 395px;
                    border: 2px solid #ffffff;
                    border-radius: 25px;
                    font-size: 16px;
                    padding: 17px 30px;
                }
                button[type="button"] {
                    width: 155px;
                    border: 2px solid #fff;
                    border-radius: 25px;
                    font-size: 16px;
                    color: #08aeea;
                    background-color: #fff;
                    margin-left: 22px;
                    cursor: pointer;
                }
            }
        }
        .travelers {
            .travelersInfo {
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .s6-header {
                    font-size: 15px;
                    padding-bottom: 12px;
                }
                .s6-h2 {
                    font-size: 25px;
                    padding-bottom: 9px;
                }
            }
            .travelerCards {
                margin-top: 82px;
                display: flex;
                justify-content: space-evenly;
                padding-right: 98px;
                padding-left: 96px;

                .ribecaSingh,
                .jimmyDean,
                .theoduleTerer {
                    padding-top: 54px;
                    max-width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: #f4f4f4;
                    .aboutTravelers {
                        padding-top: 16px;
                        padding-bottom: 36px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        .travelerName {
                            color: #4b54fa;
                        }
                        .travelerText {
                            padding-top: 36px;
                            padding-right: 35px;

                            padding-bottom: 90px;
                            padding-left: 36px;
                            color: #1a1a1b;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
        .planTrip {
            background-image: url(../images/bg4.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: fill;
            background-attachment: scroll;

            .planTrip1 {
                padding-bottom: 50px;
                padding-top: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .s7-p {
                    font-size: 36px;
                    color: #fff;
                    padding-bottom: 48px;
                }
                button[type="submit"] {
                    width: 170px;
                    height: 50px;

                    border-radius: 25px;
                    color: #fff;
                    border: none;
                    background-image: linear-gradient(#08aeea, #2af598);
                    cursor: pointer;
                }
            }
        }
        .popularCountries {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .tourismCountries {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .s8-p1 {
                    font-size: 13px;
                    color: $textColor;
                    margin-bottom: 14px;
                }
                .s8-h2 {
                    font-size: 25px;
                    color: $headerColor;
                    padding-bottom: 9px;
                }
            }
            .countriesCards {
                display: flex;
                margin-top: 70px;
                .popularDestination {
                    // position: relative;
                    transition-duration: 1s;
                    &:hover {
                        transform: scale(1.05);
                        transition: all 1s ease;
                        cursor: pointer;
                    }
                    .tourSpecs {
                        position: absolute;
                        margin-top: -90px;
                        margin-left: 50px;
                        color: white;

                        .country {
                            padding-bottom: 9px;
                        }
                        // .price {
                        // }
                        .s8-arrow {
                            margin-top: -40px;
                            margin-left: 200px;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            padding: 12px;
                            background-image: linear-gradient(
                                #08aeea 0%,
                                #2af598 100%
                            );
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: black;

        .footerWrapper {
            display: flex;
            justify-content: space-evenly;
            font-family: $myRoboto;
            padding-top: 53px;
            .footerColumn {
                .quickLinks,
                .support,
                .address {
                    font-size: 25px;
                    color: #fff;
                    padding-bottom: 20px;
                }
                .footer-ul {
                    display: flex;
                    flex-direction: column;
                    font-family: $myRoboto;
                    justify-content: space-around;

                    .footer-li {
                        color: $textColor;
                        font-family: $myRoboto;
                        padding-bottom: 15px;
                    }
                }
            }
            .footerColumn1 {
                .footerSubscription {
                    color: white;
                    font-family: $myRoboto;
                    padding-bottom: 15px;
                }
                .footerInput {
                    width: 343px;
                    height: 48px;
                    display: flex;
                    justify-content: space-between;
                    background-color: #fff;
                    #footerInput1 {
                        border: none;
                        padding: 15px 20px;
                    }
                }
                .footerSearch {
                    width: 48px;
                    height: 48px;
                    background-image: linear-gradient(#08aeea 0%, #2af598 100%);
                    padding: 15px;
                    font-size: 20px;
                }
            }
        }
        .footerLine {
            width: 100%;
            height: 3px;
            color: $textColor;
        }
        .rights {
            padding-top: 35px;
            padding-bottom: 25px;
            font-size: 19px;
            color: #8d8d8d;
            margin-left: 538px;
        }
    }
}
