$myRaleway: " Raleway ", sans-serif;
$myLato: "Lato", sans-serif;
$myRoboto: "Roboto", sans-serif;
$headerColor: #1a1a1b;
$textColor: #8d8d8d;
$breakpoints: (
    "large": (
        max-width: 1024px,
    ),
    "medium": (
        max-width: 768px,
    ),
    "small": (
        max-width: 480px,
    ),
    "xSmall": (
        max-width: 360px,
    ),
);
